.App {
  text-align: center;
  margin-top: 40px;
}

.dropzone {
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 20px;
  cursor: pointer;
  background-color: #f9f9f9;
  outline: none;
}

.dropzone p {
  margin: 0;
  font-size: 18px;
  color: #888;
}

.dropzone:hover {
  border-color: #777;
}

.dropzone.active {
  border-color: #333;
  background-color: #eee;
}

p {
  margin: 10px;
}
